body {
    padding-top: 65px;
    padding-bottom: 65px;
}

.pointer {
    cursor: pointer;
}

.table-item-hover:hover {
    background: #e4e4e4
}

.button-transparent {
    color: #000000;
    text-decoration: none;
}

.button-transparent:hover {
    color: #000000;
    text-decoration: none;
}

.scroll {
    height: 500px;
    overflow-y: scroll;
}